body {
    background-color: #E6E7E7;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Navbar
.navbar-brand {
    img {
        height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &:hover {
                color: rgb(42, 68, 142) !important;
            }

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #ffffff;

    &:hover {
        background-color: #1B2D5E;
        color: #ffffff;
    }
}

// Header

header {
    margin-top: -70px;
    padding: 180px 0 165px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1,
    p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 24px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #ffffff;

        &:hover {
            background-color: rgb(253, 165, 98);
            color: #ffffff;
        }
    }

}